    .comment-author {
        background-color: rgb(119, 119, 119);
        /* margin: 5px; */
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: large;
        color: rgb(48, 48, 48);
    }
    .comment-box {
        background-color: rgb(207, 207, 207);
        margin-right: 5%;
        margin-left: 30%;
        border-radius: 2%;
    }
    .comment{
        border: 2px solid rgb(168, 168, 168);
        margin: 5px;
        border-radius: 3%;
    }
    .comment-body{
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }
    .icon{
        color: rgb(58, 58, 58);
        font-size: 30px;
    }

    .form-control{
        display: flex;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 97%;
        margin: 10px;
        height: 150px;
    }

    .button{
        background-color: rgb(55, 104, 238);
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        margin: 10px;
    }

    .star{
        margin-left: auto;
    }

    .title{
        margin: 3px;
        color: rgb(79, 83, 83)

    }