.user-container{
  display:inline-block;
  text-align: center;
  flex:1 1;
  margin: 10px 13%;
}

.user-container-detailed{
  border: 2px solid black;
  display:inline-block;
  text-align: center;
  flex:1 1;
  margin: 10px 13%; 
}

.user-image {
  width:90px;
  height:90px;
  margin:auto;
  border: 2px solid black;
  border-radius: 100px;
  object-fit: cover;
  display: block;
}

