.online-users-status {
  border:2px solid rgb(146, 146, 146);
  margin: 10px;
  padding: 0 10px;
  margin-left: 30%;
  margin-right: 5%;
  background-color: rgb(207, 207, 207);
  border-radius: 1%;
}

.users-online-users {
  margin: 7px 0;
  font-size:20px;
}

.online-users-status-container {
  display:flex;
  flex-wrap: wrap;
}
